<!doctype html>
<html lang="en">
<script defer src="/bower_components/material-design-lite/material.min.js"></script>
<link async rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
<link async rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link async rel="stylesheet" href="style.css">
    {{>head}}
    <body class="full-body">
        {{{ body }}}
    </body>
</html>
