<div class="vs entry_five">
  <div class="mdl-grid content-grid vs vert-div">
    <div class="mdl-cell mdl-grid.center-items vert-div">
      <h4 class="interactive-title">Did you have class today?</h4>
    </div>
    <div class="mdl-cell mdl-grid.center-items vert-div interactive-yes-no horz-div">
      <form method="POST" class="account-form" action="/entry5" id="entry5">
        <input type="hidden" name="email" value="{{{user.email}}}"/>
        <div class="">
          <label id="class_yes_show" class="mdl-icon-toggle mdl-js-icon-toggle mdl-icon-toggle-interactive-64 yes" for="class_yes">
            <input type="radio" name="class_level" id="class_yes" value="true" class="mdl-icon-toggle__input">
            <i class="mdl-icon-toggle__label material-icons mdl-interactive-64">done</i>
            <h4 class="interactive-title yes-no">Yes</h4>
          </label>
          <label id="class_no_show" class="mdl-icon-toggle mdl-js-icon-toggle mdl-icon-toggle-interactive-64 no" for="class_no">
            <input name="class_level" type="radio" id="class_no" value="false" class="mdl-icon-toggle__input">
            <i id="class_no_icon" class="mdl-icon-toggle__label material-icons mdl-interactive-64">clear</i>
            <h4 class="interactive-title yes-no">No</h4>
          </label>
        </div>
      </form>
    </div>
    <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--top" id="tooltip_yes" data-mdl-for="class_yes_show">Hope class went well. 😄</div>
    <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--top"id="tooltip_no" data-mdl-for="class_no_show">Sweet! 😄</div>
    <div class="interactive-footer">
      <a href="/entry4">
        <button class="mdl-button mdl-js-button mdl-button--accent mdl-button--white interactive-button-back">Back</button>
      </a>
      <button type="submit" form="entry5" class="mdl-button mdl-js-button mdl-button--accent mdl-button--white interactive-button">Next</button>
    </div>
  </div>
</div>
<script>
(function() {
  'use strict';
  var classyes = document.querySelector('#class_yes');
  var classno = document.querySelector('#class_no');
  classyes.addEventListener('click', function() {
    'use strict';
    document.getElementById("class_no_show").classList.remove("is-checked");
  });
  classno.addEventListener('click', function() {
    'use strict';
    document.getElementById("class_yes_show").classList.remove("is-checked");
  });
}());
</script>
