<div class="vs entry_three">
  <div class="mdl-grid content-grid vs vert-div">
    <div class="mdl-cell mdl-grid.center-items vert-div">
      <h4 class="interactive-title">How many hours sleep did you achieve?</h4>
    </div>
    <div class="mdl-cell mdl-grid.center-items vert-div interactive-yes-no horz-div">
      <form method="POST" class="account-form" action="/entry">
        <input type="hidden" name="email" value="{{{user.email}}}"/>
        <div class="">
          <input class="mdl-slider mdl-js-slider" type="range"
            min="0" max="16" value="5" tabindex="0" id = "slide_01">
          <div class="mdl-textfield mdl-js-textfield" id="text_01">
            <input class="mdl-textfield__input interactive_number" type="text" id="inp_text_01" pattern="-?[0-9]*(\.[0-9]+)?">
            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
        </div>
      </form>
    </div>
    <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--top" id="tooltip_yes" data-mdl-for="sleep_yes_show">I feel well rested! 😄</div>
    <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--top"id="tooltip_no" data-mdl-for="sleep_no_show">I feel tired and sleepy! 😓</div>
    <div class="interactive-footer">
      <a href="/entry3">
        <button class="mdl-button mdl-js-button mdl-button--accent mdl-button--white interactive-button-back">Back</button>
      </a>
      <a href="/entry5">
        <button class="mdl-button mdl-js-button mdl-button--accent mdl-button--white interactive-button">Next</button>
      </a>
    </div>
  </div>
</div>
<script>
(function() {
  'use strict';
  var sleepyes = document.querySelector('#sleep_yes');
  var sleepno = document.querySelector('#sleep_no');
  sleepyes.addEventListener('click', function() {
    'use strict';
    document.getElementById("sleep_no_show").classList.remove("is-checked");
  });
  sleepno.addEventListener('click', function() {
    'use strict';
    document.getElementById("sleep_yes_show").classList.remove("is-checked");
  });
  $('#slide_01').on('input',function(){
    $("#text_01").get(0).MaterialTextfield.change(this.value);
  });
  $('#inp_text_01').keyup(function() {
    $("#slide_01").get(0).MaterialSlider.change($( '#inp_text_01').val());
    console.dir($('#slide_01'));
  });
}());
</script>
