<div class="start">
  <button id="exit" class="mdl-button mdl-js-button mdl-button--icon mdl-button--white interactive-exit">
    <i class="material-icons">clear</i>
  </button>
  <div class="mdl-grid content-grid vs">
    <div class="mdl-cell mdl-grid.center-items">
      <h5 class="interactive-date">{{{day}}}</h5>
    </div>
    <div class="mdl-cell mdl-grid.center-items">
      <h3 class="">Welcome!</h3>
    </div>
    <div class="mdl-tooltip" data-mdl-for="exit">Exit to home</div>
  </div>
  <div class="interactive-footer">
    <button class="mdl-button mdl-js-button mdl-button--accent mdl-button--white interactive-button">
    Start
    </button>
  </div>
</div>
