<div class=" card-welcome card-div mdl-card mdl-shadow--4dp">
  <div class="mdl-card__title center">
    <h2 class="mdl-card__title-text center card-title">Welcome {{user.profile.name.first}}</h2>
  </div>
</div>
<div id="unsupported" style="display: none;" class="warning">
      Sorry, your browser doesn't support push notifications.
    </div>

    <div id="supported">
      <paper-material elevation="1" style="margin: 20px auto; background-color: white; max-width: 800px;">

        <paper-item>
          <paper-item-body two-line class="layout vertical">
            <div>You can sign up for push messaging with the demo as-is. However, if you want to test it and actually send a real push message you will need to provide your own details. Open up the manifest.json file and change the gcm_sender_id to your own, and then re-enable messaging to get a new subscription ID.</div>

            <div>See <a href="http://updates.html5rocks.com/2015/03/push-notificatons-on-the-open-web#make-a-project-on-the-google-developer-console">the HTML5Rocks guide to push notifications</a> for details on signing up for the necessary key and sender ID.</div>
          </paper-item-body>
        </paper-item>

        <br/>

        <paper-item>
          <paper-item-body two-line class="layout vertical">
            <div>
              Enable push messaging
            </div>
            <div>
              <paper-toggle-button id="enable-push" toggles disabled></paper-toggle-button>
            </div>
          </paper-item-body>
        </paper-item>
        <paper-item>
          <paper-item-body two-line class="layout vertical">
            <div>
              Current subscription
            </div>
            <div>
              <pre class="paper-font-code1" style="overflow: auto; margin: 5px;" id="subscription"></pre>
            </div>
          </paper-item-body>
        </paper-item>
        <paper-item id="send-instructions">
          <paper-item-body two-line class="layout vertical">
            <div>
              Send a push (Mac/Unix)
            </div>
            <div>
              <pre class="paper-font-code1" style="overflow: auto; margin: 5px;">curl https://android.googleapis.com/gcm/send -d "registration_id=<span id="registration-id"></span>" --header "Authorization: key=[YOUR_PUBLIC_API_KEY]"</pre>
            </div>
          </paper-item-body>
        </paper-item>
      </paper-material>
    </div>
<script>
  document.addEventListener('WebComponentsReady', function() {
  var ppm = document.querySelector('platinum-push-messaging');
  var toggle = document.getElementById('enable-push');
  var subscription = document.getElementById('subscription');
  var registrationId = document.getElementById('registration-id');
  var sendInstructions = document.getElementById('send-instructions');
  toggle.disabled = !ppm.supported;
  if (!ppm.supported) {
    document.getElementById('supported').style.display = 'none';
    document.getElementById('unsupported').style.display = '';
    console.log('Push not supported');
  }
  toggle.addEventListener('change', function() {
    if (toggle.checked) {
      ppm.enable();
      console.log("enabled");
    } else {
      ppm.disable();
    }
  });
  ppm.addEventListener('subscription-changed', function(event) {
    // GCM always needs the subscriptionId passed separately. Note that as of M45,
    // the subscriptionId and the endpoint have merged.
    var subscriptionId = ppm.subscription ? ppm.subscription.subscriptionId : undefined;
    if (ppm.subscription && !ppm.subscription.subscriptionId) {
      var endpointSections = ppm.subscription.endpoint.split('/');
      subscriptionId = endpointSections[endpointSections.length - 1];
    }
    subscription.textContent = JSON.stringify(ppm.subscription || undefined, null, 2);
    registrationId.textContent = subscriptionId ? subscriptionId : '';
    console.log(subscriptionId);
  });
  ppm.addEventListener('enabled-changed', function(event) {
    toggle.checked = ppm.enabled;
    sendInstructions.style.display = ppm.enabled ? '' : 'none';
  });
});
</script>
